.col-md-2{

    background: red;
    	}

.col-md-10{

    		
 }

 .col-xs-4{

   
    	}

.col-xs-8{

}

#mydinner{

	height: 500px;
	background-color: gray;
}


.body {

	background-image: url("images/toast.jpg");
}

.header {

	height:80px;
}