



.col-md-2{

    background: red;
    	}

.col-md-10{

    		
 }

 .col-xs-9{
   

    border:2px ;
    background-color: green;
   
    	}

.col-xs-8{

}

#mydinner{

	height: 500px;
	background-color: gray;
}


body {

}

.header {

	height:80px;
}

#bigrow{
   
	background: url("../images/bakedbrie.jpg") no-repeat;
}

#dishes{

	max-width: 100px;


}